@import 'tailwindcss';

@layer base {
  button,
  a[href] {
    cursor: pointer;
  }
}

@layer components {
  .loader {
    width: 16px;
    height: 16px;
    padding: 2px;
    aspect-ratio: 1;
    border-radius: 50%;
    --_m:
      conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: loader-spin 1s infinite linear;
  }

  @keyframes loader-spin {
    to {
      transform: rotate(1turn);
    }
  }
}
